<div class="restohome">
  <h1>About this restaurant</h1>
  <br>
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category.upcase %></p>
  <p>Tél: <%= @restaurant.phone_number %></p>
  <h3>Customer's reviews: </h3>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content%>  | <%= review.rating%>/5</p>
  <% end %>
  <br>

  <p><%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %> <%= link_to "Back", restaurants_path, class: "btn btn-primary" %></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
